{% extends "base.html" %}
{% block title %}Here Got What?{% endblock %}
{%block body%}


<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><a href="pharmacies">Pharmacies</a></h5>
      <p class="card-text">Find the nearest licensed pharmacies near you!</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><a href="supermarkets">Supermarkets</a></h5>
      <p class="card-text">Find the nearest supermarkets near you!</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><a href="rentalflats">Rental Flats</a></h5>
      <p class="card-text">Looking for rental flats? Find them here!</p>
    </div>
  </div>
</div>

<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><a href="MOEprogrammes">MOE Programmes</a></h5>
      <p class="card-text">Find out about the various programmes by MOE!</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><a href="CCAs">School CCAs</a></h5>
      <p class="card-text">Find out about the various CCAs provided by schools!</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><a href="schoolInfo">Schools' Information</a></h5>
      <p class="card-text">Need help finding contact information for your child's school? Don't worry we got you covered!</p>
    </div>
  </div>
</div>

<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><a href="SGpopulation">SG HDB Population</a></h5>
      <p class="card-text">Ever wondered how many people are staying in HDB?</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><a href="ResaleFlats">Resale Flats</a></h5>
      <p class="card-text">Find out more about Resale Flats here!</p>
    </div>
  </div>
</div>

{%endblock%}