{% extends "base.html" %}
{% block title %}Pharmacies | Here Got What?{% endblock %}
{% block body%}
<h3 align="center" style="padding-top:10px">Pharmacies</h3>
<form method="POST">
    <div class="form-row"  style="padding-top:10px; margin: auto">
        <div class="form-group">
            <div class="col">
                <input type="text" class="form-control form-control-lg" id="location" name="location" placeholder="Enter town"/>
            </div>
            <div class="col text-center">
                  <button type="submit" class="btn btn-warning">Reset</button>
            </div>
    </div>
</form>
<div class="card-columns" style="margin-left: auto; margin-right: auto">
    {% for pharmacy in PharmaciesQuery%}
    <div class="card text-white bg-dark mb-3 col-lg-4 " style="max-width: 35rem;">
        <div class="card-header">{{pharmacy.pharmacy_name}}</div>
        <div class="card-body">
          <h5 class="card-title">{{pharmacy.pharmacy_address}}</h5>
          <p class="card-text">Pharmacist In-Charge: {{pharmacy.pharmacist_in_charge}}</p>
        </div>
      </div>
    {%endfor%}
</div>


{% endblock %}