{% extends "base.html" %}
{% block title %}Rental Flats | Here Got What?{% endblock %}
{% block body%}
<h3 align="center" style="padding-top:10px">Rental Flats</h3>
<form method="POST">
    <div class="form-row"  style="padding-top:10px">
        <div class="form-group">
            <div class="col">
                <input type="text" class="form-control form-control-lg" id="location" name="location" placeholder="Enter town"/>
            </div>
            <div class="col text-center">
                  <button type="submit" class="btn btn-warning">Reset</button>
            </div>
    </div>
</form>
<div class="card-columns" style="padding-left: 40px; padding-right: 40px">
    {% for rentalFlat in RentalFlats%}
    <div class="card text-white bg-dark mb-3 col-lg-4 " style="max-width: 35rem;">
        <div class="card-header">{{rentalFlat.block}} {{rentalFlat.street_name}}</div>
        <div class="card-body">
          <h5 class="card-title">{{rentalFlat.flat_type}}</h5>
          <h5 class="card-title">${{rentalFlat.monthly_rent}}/month</h5>
          <p class="card-text">Approval Date: {{rentalFlat.rent_approval_date}}</p>
        </div>
      </div>
    {%endfor%}
</div>


{% endblock %}